<!DOCTYPE html >
{% assign base = site.baseurl %}
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Open Data-Tilemill</title>
  <link rel='stylesheet' href='{{base}}/site.css' type='text/css'/>
  <!--[if IE]><link rel='stylesheet' href='{{base}}/site-ie.css' type='text/css'/><![endif]-->
  <link rel='shortcut icon' href='{{base}}/images/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
  <script src='{{base}}/js/jquery-1.6.4.min.js' type='text/javascript'></script>
  <script src='{{base}}/js/underscore.js' type='text/javascript'></script>
  <script src='{{base}}/js/backbone.js' type='text/javascript'></script>
  <script src='{{base}}/js/site.js' type='text/javascript'></script>

  <script src='{{base}}/js/modestmaps.min.js' type='text/javascript'></script>
    <script src='{{base}}/js/wax.mm.js' type='text/javascript'></script>
        <script src='{{base}}/js/app.js' type='text/javascript'></script>
    <link href='{{base}}/js/controls.css' rel='stylesheet' type='text/css' />








</head>
<body>

    <div class="header_imagen">
         <div id='map'></div>


    </div>
  <div class='limiter'>
      <div class="centrar"> Martes 21 -Miercoles 22 de Febrero<br> Open Data Geo Meetup Lima</div>
    <div id="title"> <h2> Realizar mejores aplicaciones con Datos Abiertos y Tilemill Gratis</h2></div>

    <p class="introduction">Participa y aprenda a desarrollar mapas personalizadas y a medida con Tilemill,
         con el cual aprenderá paso a paso desde cero la manera de diseñar mapas con Tilemill
         sin ser un especialista en cartografía, El cual tiene por objetivo hacer uso de
         datos abiertos como principal fuente de datos para desarrollar mejores aplicaciones
         y muchas otras alternativas que crea conveniente desarrollar con Tilemill
         para el mejor desarrollo de su ciudad, pais etc..</p>

    

    <aside>
        <img src="../images/ct3.png">





        <div class='buttons'></div>

   

  
        <h3>Comentarios</h3>

   <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Datos_Abiertos_Tilemill/361126537252727" width="210" show_faces="true" border_color="" stream="false" header="false"></fb:like-box> </aside>
    
 </aside>
    <div id='main'>
  <div id='content'>
     
          <h2>Aprenda a diseñar mapas en Tilemill de 5pm-7pm </h2>

          <h3> 1. Fundamentos teóricos e Instalación de Tilemill </h3>
          <div class="assigned">Ian Ward 5:00pm-5:30pm</div>
          <p>Se Realizara introducción a Tilemill, como un programa de software libre para la elaboración de Cartografía digital, con la cual se pueden diseñar mapas, personalizadas y a medida de cada uno.</p>
  
          <ul>Los puntos a tratar:
              <li> <a href="http://mapbox.com/tilemill/" target='_blank'>Tilemill</a></li>
                <li><a href="http://mapnik.org/" target='_blank'>Mapnik</a></li>
                <li><a href="http://wiki.openstreetmap.org/wiki/Carto" target='_blank'>Carto</a></li>
                <li>Node.js</li>
                <li><a href="http://mapbox.com/tour/hosting/" target='_blank'>Mapbox Hoting</a></li>
                <li>Instalación de Tilemill</li>
          </ul>
  
          <h3>2. Fuentes y preparación de datos para la utilización con Tilemill</h3>
          <div class="assigned">Ruben Lopez de 5:30pm 6:30pm</div>
          <p>En esta Sección se mencionaran  las principales fuentes de obtención de datos Geográficos y como es el procesamiento de estos datos para llegar a realizar mapas personalizados en Tilemill
</p>

        <ul>Los puntos a tratar:
            <li>Archivos .DWG(archivos autocad) </li>
            <li>Fuente<a href="http://www.openstreetmap.org/" target='_blank'> OSM</a></li>
                <li>Carga de datos OSM a base de datos Postgis </li>
                <li>Unión de datos geográficos y datos que usted crea conveniente mostrar geográficamente </li>

          </ul>

          <h3> 3. Diseño de Mapas con Tilemill.</h3>
          <div class="assigned">(Ian o  Ruben) de 6:30pm-7:00pm</div>
          <p>En este Sección diseñaremos mapas personalizado con Tilemill, mediante código básico css de lado del servidor, en los cuales aprenderá un panorama de como desarrollar sus propios mapas.
</p>

          <ul>Los puntos a tratar:
                <li>Importación de archivos shp a Tilemill.</li>
                <li>Importacion de datos de base de datos Postgis.</li>
                <li>Diseño de estilos en Tilemill.</li>
                <li>Exportacion  de mapas para la web con Tilemill.</li>
                <li>Subiendo mapas a Mapbox Hosting gratuitamente.</li>
          </ul>


<h2>Diseñe  su propios mapas con Tilemill de 7pm-9pm</h2><br>
<p>Tendrá un tiempo de 2 hora para desarrollar sus propios mapas personalizados  con  Tilemill, en el cual sera asesorado  por Ian ward y Ruben Lopez, quienes podrán aclara sus dudas en la preparación de datos geográficos para el uso en Tilemill y en el  Diseño de mapas en Tilemill.
</p>

     <br><br><br><br><br>
  </div>
    </div>

  </div>









</body>
</html>
