<!DOCTYPE html >
{% assign base = site.baseurl %}
<html>
<head>
  <meta charset='UTF-8'/>
  <title>{% if page.url == '/index.html' %}{{page.title}}{% else %}{{page.title}}{% endif %}</title>
  <link rel='stylesheet' href='{{base}}/site.css' type='text/css'/>
  <!--[if IE]><link rel='stylesheet' href='{{base}}/site-ie.css' type='text/css'/><![endif]-->
  <link rel='shortcut icon' href='{{base}}/images/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
  <script type='text/javascript'>
    var site = {
      github_language: '{{site.github_language}}',
      github_login: '{{site.github_login}}',
      github_repo: '{{site.github_repo}}',
      hashtag: '{{site.hashtag}}'
    };
  </script>
  <script src='{{base}}/js/jquery-1.6.4.min.js' type='text/javascript'></script>
  <script src='{{base}}/js/underscore.js' type='text/javascript'></script>
  <script src='{{base}}/js/backbone.js' type='text/javascript'></script>
  <script src='{{base}}/js/site.js' type='text/javascript'></script>
</head>
<body>
        <div class="header_imagen">



    </div>

  <div class='limiter'>

<div class="centrar"> Opendata.pe<br> Open Meetup Lima</div>

    <div id="title"> <h2>Contribuyendo a Datos Abiertos en El Perú</h2></div>

        <div class="participantes">
            <div class="title"> Dirigido a:</div>
        <p><strong>Funcionarios del Gobierno,</strong> para que tengan un mejor panorama de lo que es  Datos Abiertos, y de que forma contribuye este,en formar un buen gobierno.
</p>
<p><strong>Ciudadanos en General,</strong> que quieran adquirir un rol activo, en el proceso de apertura de los gobiernos en la era de la información y transparencia.
</p>
<p><strong>Profesionales de la información,</strong> con ganas de aplicar conceptos, herramientas y técnicas para desarrollar aplicaciones con Datos Abiertos.</p>
</div>

    <div class="introduction">

<div class="introduction1">Participa y aprenda nuevas experiencias y tendencias sobre datos abiertos en el Perú y en el mundo, en el cual usted sera un protagonista mas en esta nueva era de un Gobierno Abierto en el Perú, junto a muchas personas dedicadas a desarrollar nuevas formas de de solución a ciertos problemas que la atraviesa en la actualidad, se participe de los eventos, talleres,Charlas ,espacios abiertos, y muchos mas asistiendo,para un beneficio suyo y sobre todo para el desarrollo del  Perú.

</div>
<div class="introduction2">
<strong>Lugar: </strong>Escuelab<br>
<strong>Dirección:</strong> Calle Belén 1042 - Piso 5 - Lima 1 - Perú<br>
<strong>Referencia: </strong>Media cuadra de la Plaza San Martín<br>
<strong>Ingreso: </strong>Libre

   </div>
</div>
    <aside>


        <div class="like_box">
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div class="fb-like-box" data-href="http://www.facebook.com/pages/Open-Data-Per%C3%BA/132760760151826" data-width="292" data-height="400" data-show-faces="true" data-stream="false" data-header="true"></div>
</div>
    </aside>
    <div id='main'>

      <div id='content'>
        {{ content }}

      </div>



    </div>
  </div>


<!--
    <div class="sponsors">
        <img src="../images/logo-escuelab.png">
        <img src="../images/logo-softwinperu.png">
        <img src="../images/logo-socialmediagroup.png">
        <img src="../images/logo-developmentseed.png">
       

    </div>
-->




</body>
</html>


