<!DOCTYPE html >
{% assign base = site.baseurl %}
<html>
<head>
  <meta charset='UTF-8'/>
  <title>{% if page.url == '/index.html' %}{{page.title}}{% else %}{{page.title}}{% endif %}</title>
  <link rel='stylesheet' href='{{base}}/site.css' type='text/css'/>
  <!--[if IE]><link rel='stylesheet' href='{{base}}/site-ie.css' type='text/css'/><![endif]-->
  <link rel='shortcut icon' href='{{base}}/images/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
  <script type='text/javascript'>
    var site = {
      github_language: '{{site.github_language}}',
      github_login: '{{site.github_login}}',
      github_repo: '{{site.github_repo}}',
      hashtag: '{{site.hashtag}}'
    };
  </script>
  <script src='{{base}}/js/jquery-1.6.4.min.js' type='text/javascript'></script>
  <script src='{{base}}/js/underscore.js' type='text/javascript'></script>
  <script src='{{base}}/js/backbone.js' type='text/javascript'></script>
  <script src='{{base}}/js/site.js' type='text/javascript'></script>
</head>
<body>
  <div class='limiter'>
    <aside>


        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div class="fb-like-box" data-href="http://www.facebook.com/pages/Open-Data-Per%C3%BA/132760760151826" data-width="205" data-height="400" data-show-faces="true" data-stream="false" data-header="true"></div>
     
      <div class='tweets clearfix'>
        <h2>Tweets que se Mencionaron sobre {{site.hashtag}}</h2>
      </div>
      <div class='editing'><p>Este sitio es de  <a href='http://github.com/{{site.github_login}}/{{site.github_repo}}'>Código Abierto</a> y usted puede ayudar a editarlo. Para enviar un cambio, <a href='http://help.github.com/fork-a-repo/'> realice un fork  este repositorio</a>,  realice sus cambios y mande un <a href='http://help.github.com/pull-requests/'>pull request</a>.</p></div>
    </aside>
    <div id='main'>
      <header>
        <h1><a class='logo' href="/">OpenData.pe</a></h1>
      </header>
      <div id='content'>
        {{ content }}
      </div>
    </div>

  </div>



</body>
</html>
